/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* INDEX CSS */
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10%;
}

.header {
    width: 100%;
    height: 60px;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline-block;
}

.header ul li a{
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 16px;
}

.main {
    padding-top: 70px;
    text-align: center;
}

.login {
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    background-color: lightgray;
}

.login .register {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.form input{
    display: block;
    margin: 10px 0;
    width: 100%;
}

/* REGISTER CSS */

.main-register {
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    background-color: lightgray;
}

.main-register .registerlink {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

/* TOP 5 CSS */
.top {
    border: 1px black solid;
    padding: 20px;
}

.top ul li {
    padding: 30px 20px;
    border-bottom: 1px black solid;
    overflow: hidden;
}


.top ul li:last-child {
    border-bottom: none;
}

.top ul li .image {
    background-image: url('../img/person-placeholder.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 35%;
    height: 100px;
    float: left;
}

.top ul li .info {
    text-align: left;
    box-sizing: border-box;
    padding-left: 16px;
    width: 65%;
    height: 100px;
    float: left;
}

.top ul li .info h3 {
    display: block;
    margin-bottom: 10px;
}

.top ul li .info span {
    display: block;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
}

/* DEMAND CSS */

.demand {
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    background-color: lightgray;
}

.demand__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.demand textarea {
    margin: 10px 0;
    resize: none;
    width: 100%;
}

.demand select {
    margin: 10px 0;
    width: 100%;
}

/* DASHBOARD CSS */

.dashboard {
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px;
}

.dashboard h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dashboard {
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    background-color: lightgray;
    margin: 10px;
    width: 50%;
}

.dashboard__demands ul li {
    padding: 30px 20px;
    border-bottom: 1px black solid;
    overflow: hidden;
}


.dashboard__demands ul li:last-child {
    border-bottom: none;
}

.dashboard__demands ul li .image {
    background-image: url('../img/person-placeholder.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 35%;
    height: 100px;
    float: left;
}

.dashboard__demands ul li .info {
    text-align: left;
    box-sizing: border-box;
    padding-left: 16px;
    width: 65%;
    height: 100px;
    float: left;
}

.dashboard__demands ul li .info h3 {
    display: block;
    margin-bottom: 10px;
}

.dashboard__demands ul li .info span {
    display: block;
    margin-bottom: 10px;
}