// Colores primarios
$red: #EE3037;
$reddark: #BC0D0D;
$yellow: #FEC600;
$skyblue: #1AA2E1;
$white: #FFFFFF;

// Colores neutrales
$gray1: #333333;
$gray2: #606060;
$gray3: #7E7E7E;
$gray4: #BABABA;
$gray5: #E8E8E8;
$gray6: #F6F6F6;


// Colores de categorías

// Supermercado
$highlight-blue: #004A92;
$blue: #16A2FF;
$yellow2: #EDBD50;
$mustard: #DEAF68;
$brown: #D1BA8E;
$light-orange1: #FAA16F;
$light-orange2: #F78864;
$pink1: #EA606C;
$pink2: #F26094;
$pink3: #D86BB0;
$magenta: #9C549E;
$green: #95CD69;
$cyan: #66CAC4;
$cyan2: #43BFEE;
$cyan-blue1: #7BA8DE;
$cyan-blue2: #3892C6;
$cyan-blue3: #1993A4;
$purple-blue: #7881C2;
$blue5: #41B5BC;
$veaclub-purple: #431A77;
// Electro
$pink4: #FD7976;
$blue1: #367CCE;
$blue2: #367CCE;
$blue3: #16AEC3;
$blue4: #2C6091;
$purple: #6967D5;


// color names - food
$color-category-carnes: #EDBD50;
$color-category-mascotas: #DEAF68;
$color-category-decoracion: #D1BA8E;
$color-category-panaderia: #FAA16F;
$color-category-abarrotes: #F78864;
$color-category-juguetes: #EA606C;
$color-category-golosinas: #F26094;
$color-category-higiene: #D86BB0;
$color-category-quesos: #9C549E;
$color-category-frutas: #95CD69;
$color-category-lacteos: #66CAC4;
$color-category-congelados: #43BFEE;
$color-category-bebe: #7BA8DE;
$color-category-bebidas: #7881C2;
$color-category-limpieza: #3892C6;
$color-category-airelibre: #1993A4;

// color names - non food
$color-category-camas: #FD7976;
$color-category-deportes: #367CCE;
$color-category-computo: #2C6091;
$color-category-tv: #6967D5;
$color-category-electrodomesticos: #16AEC3;

// campaign colors
$color-cyberwow-blue: #213AF8;

// fonts names
$font-gilroy: 'Gilroy', Verdana;
$font-rubik: 'Rubik', sans-serif;

// font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

// border radius
$border-radius-radio: 24px;
$border-radius-check: 4px;
$border-radius-select: 4px;
$border-radius-featured: 5px;
