@import 'base/variables';
@import 'mixins/utils';
@import 'mixins/responsive';

body {
    background-color: $background-gray;
}

.demand {
    @include onlymobile {
        padding: 0 width-column(1, 26);
    }

    .form {
        padding: 16px width-column(1, 31);

        &__row {
            margin-bottom: 30px;
            @include clearfix;

            &__left {
                float: left;
                width: 45%;
                margin-right: 10%;

                @include onlymobile {
                    width: 100%;
                    margin-bottom: 16px;
                }
            }

            &__right {
                float: left;
                width: 45%;

                @include onlymobile {
                    width: 100%;
                    margin-bottom: 16px;
                }
            }
        }

        .btn {
            margin: 0 auto;
        }

        label {
            font-family: $font-gilroy;
            font-weight: $font-regular;
            font-size: 16px;
            line-height: 24px;
            color: $gray1;
        }
    }
}
