@import 'base/variables';
@import 'mixins/utils';
@import 'mixins/responsive';

body {
    background-color: $background-gray;
}

.register {
    margin-top: 30px;
    padding: 30px 10%;
    background-color: white;
    @include clearfix;
    text-align: center;

    .title {
        margin-bottom: 48px;
        text-align: left;
    }

    .input {
        display: inline-block;
        width: 100%;
        @include tablet {
            padding-right: 10%;
        }
    }

    label {
        display: block;
    }

    form {
        text-align: left;
        @include clearfix;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn {
        margin: 0 auto;

        @include onlymobile {
            width: 100%;
            padding: 10px;
        }
    }

    .form__row {
        width: 50%;
        margin-bottom: 52px;
        @include onlymobile {
            width: 100%;
        }

        &--full {
            width: 100%;

            .input {
                @include tablet {
                    padding-right: 5%;
                }
            }
        }

        &--half {
            .input {
                width: 60%;
                float: left;

                @include onlymobile {
                    width: 100%;
                }
            }

            .btn {
                width: 40%;
                float: left;

                @include onlymobile {
                    width: 100%;
                    margin-top: 12px;
                }
            }
        }
    }
}
