.btn {
    display: block;
    background-color: $blue;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    padding: 6px 90px;
    font-family: $font-gilroy;
    color: white;
    cursor: pointer;
}
