.input {
    position: relative;
    box-sizing: border-box;

    input {
        width: 100%;
        box-sizing: border-box;
        padding: 3px 6px;
        border: none;
        border-bottom: 1px $blue solid;
        background-color: white;

        &::placeholder {
            font-family: $font-gilroy;
            font-weight: $font-medium;
            font-size: 16px;
            line-height: 24px;
            color: $gray1;
        }

        &:active, &:focus {
            outline: none;
        }

        &:disabled {
            background-color: $gray5;
        }
    }

    &--user {
        &::before {
            content: '';
            position: absolute;
            left: 4px;
            top: 4px;
            height: 16px;
            width: 16px;
            background-image: url('../../images/User\ \(2\).svg');
            background-size: 100%;
        }

        input {
            padding: 3px 32px;
        }
    }

    &--password {
        &::before {
            content: '';
            position: absolute;
            left: 4px;
            top: 4px;
            height: 16px;
            width: 16px;
            background-image: url('../../images/lock.svg');
            background-size: 100%;
        }

        input {
            padding: 3px 32px;
        }
    }
}

.textarea {
    resize: none;
    outline: none;
    font-family: $font-gilroy;
    font-weight: $font-regular;
    font-size: 14px;
    line-height: 24px;
    color: $gray1;
    border: none;
    border-bottom: 1px $blue solid;
    width: 100%;
}

.select {
    width: 100%;
    border: none;
    color: $gray1;
    border-bottom: 1px $blue solid;
    position: relative;

    &::-ms-expand {
        display: none;
    }
}
