.layout.layout-left
    .account
        img.account__image(src="#", alt="")
        span.account__name Juanita Perez
        span.account__email juanita-perez@gmail.com
    ul.list
        li
            a(href="top.html")
                i.list__top
                span Ver top de denuncias
        li
            a(href="#")
                i.list__all
                span Ver todas las denuncias
        li
            a(href="#")
                i.list__new
                span Registra tu denuncia aquí
        li
            a(href="#")
                i.list__mine
                span Ver mis denuncias
