.layout.layout-left
    .account
        img.account__image(src="#", alt="")
        span.account__name Juanita Perez
        span.account__email juanita-perez@gmail.com
    ul.list
        li
            a(href="#")
                i.list__mine
                span Ver bandeja de denuncias
