header.header
    .header__control
        .icon
            img(src="images/iconlogo.png", alt="")
        .logo
            img(src="images/logo.png", alt="")
        .logout
            a(href="#") Salir
