extends layout

block vars
    - title = "Seguimiento Electoral";
    - section = "home";

block head
    link(rel="stylesheet" href="styles/home.css")

block content
    .home
       

block scripts
    script(src="scripts/home.js")
