extends layout

block vars
    - title = "Seguimiento Electoral - Registro";
    - section = "register";

block head
    link(rel="stylesheet" href="styles/register.css")

block content
    .wrap
        .content
            .register
                h2.title Completa tus datos personales
                form
                    .form__row
                        label(for="dni") DNI
                        .input
                            input(type="text" id="dni" maxlength="8")
                    .form__row.form__row--half
                        label(for="dnidate") Fecha de emisión
                        .input
                            input(type="date" id="dnidate")

                        button.btn.btn--search Validar
                    .form__row
                        label(for="nombres") Nombres
                        .input
                            input(type="text" id="nombres" disabled)
                    .form__row
                        label(for="apellidos") Apellidos
                        .input
                            input(type="text" id="apellidos" disabled)
                    .form__row.form__row--full
                        label(for="address") Dirección
                        .input
                            input(type="text" id="address" disabled)
                    .form__row
                        label(for="correo") Correo
                        .input
                            input(type="email" id="correo")
                    .form__row
                        label(for="password") Contraseña
                        .input
                            input(type="password" id="password")
                button.btn Siguiente


block scripts
    //script(src="scripts/register.js")
