extends layout

block vars
    - title = "Seguimiento Electoral";
    - section = "top";

block head
    link(rel="stylesheet" href="styles/top.css")

block content
    .wrap
        .top
            .layout-left
            .layout-middle
            .layout-right

block scripts
    //script(src="scripts/home.js")
