.header {
    padding: 25px 46px 15px;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    background-color: white;
    z-index: 9999;

    .icon, .logo {
        display: inline-block;
        vertical-align: middle;
    }

    .icon {
        display: none;
        padding-right: 17px;
        margin-right: 21px;
        border-right: 1px black solid;
        @include tablet {
            display: inline-block;
        }

        img {
            height: 30px;
            width: 30px;
        }
    }

    .logo {
        transform: translateY(4px);
    }
}
